{% extends 'base.html.twig' %}

{% block title %}Receips index{% endblock %}

{% block body %}
    <h1>Receips index</h1>

    <form action="{{ path('receips_index') }}" method="post">
        
        <label for="email">Email: </label>
        <input type="date" id="rented_date" name="rented" />
        
        <a href="{{ path('receips_availability') }}">Create new</a>

        
        <div class="Rooms">
            <select id="roomSelect">
                {% for room in rooms %}
                    <option value="{{ room.id }}{{ room.name }}">{</option> 
                {% else %}
                    <option value="no records found">{</option> 
                {% endfor %}    
            </select>
        </div>
        
        <div class="Options">
            {% for option in options %}
                <div>
                    <input type="checkbox" name="optionSelect" value="{{ option.name }}">
                    <label for="{{ option.name }}">{ option.name }}</label>
                </div>
            {% else %}
                no records found 
            {% endfor %}    
        </div>
    
        <button type="submit">Create Receip</button>
    </form>
{% endblock %}