{% extends 'base.html.twig' %}
{# templates/register.html.twig #}
{% block body %}
{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.capacity) }}
    {{ form_row(form.location) }}
    {{ form_row(form.cp) }}
    {{ form_row(form.plainPassword.second) }}

 <button type="submit">Register</button>
{{ form_end(form) }}
{% endblock %}