{% extends 'base.html.twig' %}

{% block title %}Rooms{% endblock %}

{% block body %}
    <h1>Rooms</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ room.name }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ room.adress }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ room.city }}</td>
            </tr>
            <tr>
                <th>Postal_code</th>
                <td>{{ room.postalCode }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ room.description }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ room.capacity }}</td>
            </tr>
            <tr>
                <th>IsRented</th>
                <td>{{ room.isRented ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rooms_index') }}">back to list</a>

    <a href="{{ path('rooms_edit', {'id': room.id}) }}">edit</a>

    {{ include('rooms/_delete_form.html.twig') }}
{% endblock %}